.base {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  min-width: 40px;
}


.ranked {
  background-color: #34CDCD;
}

.unranked {
  background-color: #DCD8D8;
}


.turbo {
  background-color: #DFF77F;
}