* {
  box-sizing: border-box;
}

h1 {
  color: red;
  background-color: aquamarine;
  font-size: 40px;
}

.message {
  color: green;
  background-color: bisque;
  font-size: 20px;
  padding-left: 80px;
}