.wrapper {
  background-color: aquamarine;
  width: 400px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}


.inputPair {
  display: flex;
  justify-content: space-between;
}


.inputPairText {
  width: 250px;
}