.matchBox {
  border: 1px solid black;
  margin: 5px;
}

.matchBody {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: lightgrey;
}

.teamInfoBox {
  display: flex;
  flex-direction: column
}