.wrapper {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  height: 35px;
}


.wrapper :hover {
  cursor: pointer;
}


.win {
  background-color: #70E154;
}

.lose {
  background-color: #E37777; /*#F19191;*/
}


.matchDuration {
  display: flex;
  min-width: 50pt;
  justify-content: center;
  align-items: center;
}


.suspMatch {
  width: 50px;
}

.suspMatchImg {
  width: 100%;
}
