.wrapper {
  background-color: violet;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  width: 150px;
}


.userWrapper {
  border: 2px solid red;
}


.notUserWrapper {
  border: 2px solid black;
}


.playerRoleWrapper {
  height: 50px;
}


.playerStatWrapper {
  height: 30px;
  background-color: greenyellow;
}